@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');

@media only screen and (min-width: 546px)
    {
    body, html{
        padding: 0;
        margin: 0;
        height: 100%;
        background: url(img/bg.jpg);
        background-size: cover;
        background-color:rgba(0,0,0,0.15);
    }

    /* -------------------- topbar & navbar -------------------------- */
    .header {
        width: 100%;
    }

    .logo {
        position: relative;
        width: 100px;
        height: 100px;
        padding: 10px 10px;
        float: left;
        border-radius: 5px 40px 5px;
    }

    .topbar {
        padding: 20px 20px 20px;
        display: flex;
        justify-content: flex-end;
    }

    .topbar form {
        background:  #349ce4;
        border-radius: 15px;
        padding: 1rem 1rem 1rem 1rem;
        justify-self: auto;
    }

    .topbar p {
        background: rgb(168, 212, 248);
        border-radius: 10px;
        text-align: center;
        padding-bottom: 10px;
    }

    .navright{
        display: flex;
        flex-direction: row-reverse;
        height: 2rem;
    }

    .navright a {
        text-decoration: none;
        text-align: center;
        padding: 5px 8px ;
        border: 1px solid #1c4c74;
        width: 7rem;
        margin: 0 8px 5px 8px;
        font-weight: bold;
        border-radius: 5px;
        box-shadow: #1c4c74 0px 1px 1px 0px;
    }

    .navright a:hover {
        background-color: #1c4c74;
        color: #b2b6b0;
    }

    /* ------------------------ Reservation -------------------------- */

    .reswrapper {
        width: 100%;
        background-size: cover;
        background-image: url(img/1.jpg);
        background-repeat: no-repeat;
    }

    .containerres {
        padding: 10px 10px 10px 10px;
        width: 70%;
        height: 30rem;
    }

    .containerres h1 {
        font-size: xx-large;
        color: wheat;
        font-family: 'Martel Sans', sans-serif;
    }

    .containerres h2 {
        font-size: x-large;
        color: wheat;
        font-family: 'Martel Sans', sans-serif;
    }

    .containerres form label {
        padding-top: 10px;
    }

    #submit:hover, #datein:hover, #dateout:hover, #carselect:hover {
        background-color: #349ce4;
        color: wheat;
    }
    /* ------------------------ Promotions -------------------------- */

    .cardscontainer {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        flex-wrap: wrap;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        width: 20rem;
        height: 22rem;
        padding: 10px 10px 10px 10px;
        margin: 10px 10px;
    }

    /* ------------------------ Fidélité -------------------------- */

    .fidelitewrapper {
        margin: 10px 10px 10px;
        background-color: rgba(168, 212, 248,0.25);
    }
    .fidelitewrapper h2 {
        font-family: 'Martel Sans', sans-serif;
        color: #1c4c74;
        font-size: xx-large;
        font-weight: bold;
    }
    /* ------------------------ Contact -------------------------- */

    .contactwrapper {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .contactdiv {
        padding: 10px 0 0 10px;
    }

    /* ------------------------ Footer -------------------------- */

    .footerwrapper {
        display: flex;
        justify-content: space-evenly;
    }

    .service, .agence, .socialmedia {
        width: 33.3%;
        padding-left: 1rem;
    }

    .service, .agence{
        border-right: 2px solid black;
    }
}